body{
    
    color: rgb(41,189,188); 
    background-image: 
    url(IMG_97642.jpeg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
 
    
  
}
.menubar{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  font-size: 28px;
     border: 1px solid whitesmoke; 
    
     height: 100px; 
     width: 150px;
     padding: 20px;
     padding-left: 30px;


}
.menubar:hover{
   background-color: rgba(245, 245, 245, 0.315);
}
#courses{
    border-bottom: none;
}
#courses:hover{
    background-color: rgb(44,45,46);
   
}

.course{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  font-size: 23px;
     border: 1px solid rgba(245, 245, 245, 0.351); 
   background-color: rgba(0, 153, 255, 0.253);
     height: 100%; 
     width: 250%;
     
     padding: 10px;
  
    
border-radius: 25px;
}
.course:hover{
    background-color: rgba(245, 245, 245, 0.315);
}
.term{
    color: rgba(245, 245, 245, 0.701);
   background-color:  rgba(0, 0, 0, 0.125);
    font-size: 25px; 
    border: 1px solid  rgba(245, 245, 245, 0.315); 
    border-right: none;  width: 40%; 
    border-radius: 25px; padding-left: 20px;
    margin: auto;
    padding: 10px;
   
}
a{
    color: rgb(41,189,188);
}
.container{
    background-color: rgba(245, 245, 245, 0.178);
    margin: auto;
    padding: 50px;
   

   }
   input{
    background-color: rgba(0, 153, 255, 0.253);
    color: rgba(245, 245, 245, 0.81);
}