body{
    
    color: rgb(41,189,188); 
    background-image: 
    url(IMG_97642.jpeg);
    
   
}
.container{
    background-color: rgba(245, 245, 245, 0.178);
margin: auto;
   }
.toolbar{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 28px;
       border: 1px solid whitesmoke; 
      
       height: 70px; 
       width: 110px;
       padding: 5;
       
 
}
.toolbar:hover{
    background-color: rgba(245, 245, 245, 0.315);
}
#home{
   
    border-bottom: none;
}
#home:hover{
    background-color: rgb(44,45,46);
   
}
p,span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
   
    text-align: center; font-size: 50px; color: rgb(41,189,188);
}
span{
   font-size: 35px
}
a{
    color: rgb(41,189,188);
}