body{
    
    color: rgb(41,189,188); 
    background-image: 
    url(IMG_97642.jpeg);
   
}
.container{
    background-color: rgba(245, 245, 245, 0.178);
margin: auto;
height: 700px;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 
    sans-serif; 
   
    text-align: center;  color: rgb(41, 189, 189);
    margin-left: 100px;
    width: 450px;  font-size: 20px;
}

a{
    color: rgb(41,189,188);
}
form{
    border-radius: 20px;
    color: rgba(43, 174, 226, 0.74);;
    border: 1px solid whitesmoke; 
    border-top: 5px solid rgba(250, 128, 114, 0.557);
    border-left: 5px solid rgba(250, 128, 114, 0.557);
    padding: 70px;
    margin: auto;
    font-size: 20px;
    margin-left: 100px;
}
input{
    width: 100%;
}

#loginbtn{
    background-color:  rgba(0, 153, 255, 0.253);
    color: whitesmoke;
}
