body{
    
    color: rgb(41,189,188); 
    background-image: 
    url(IMG_97642.jpeg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
 
    
  
}
.menubar{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  font-size: 28px;
     border: 1px solid whitesmoke; 
    
     height: 100px; 
     width: 150px;
     padding: 20px;
     padding-left: 30px;


}
.menubar:hover{
   background-color: rgba(245, 245, 245, 0.315);
}
#projects{
    border-bottom: none;
}
#projects:hover{
    background-color: rgb(44,45,46);
   
}
p{
    text-align: center; font-size: 150%; 
    color: rgb(41,189,188);
    width: 80%;
    
}
span{
    color: rgba(245, 245, 245, 0.724);
}
input{
    background-color: rgba(0, 153, 255, 0.253);
    color: rgba(245, 245, 245, 0.81);
}
input:hover{
    background-color: rgb(164,124,100);
}
a{
    color: rgb(41,189,188);
}
.container{
    background-color: rgba(245, 245, 245, 0.178);
    margin: auto;
    padding: 50px;
   }