body{
    
    color: rgb(41,189,188); 
    background-image: 
    url(IMG_97642.jpeg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
 
    
  
}
.menubar{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  font-size: 28px;
     border: 1px solid whitesmoke; 
     
     height: 100px; 
     width: 150px;
     padding: 20px;
     padding-left: 30px;


}
.menubar:hover{
   background-color: rgba(245, 245, 245, 0.315);
}
#skills{
    border-bottom: none;
}
#skills:hover{
    background-color: rgba(0, 0, 0, 0.002);
   
}
p{
    text-align: center; font-size: 20px; 
    color: rgb(41,189,188);
    background-color: rgba(0, 0, 0, 0.454);
    
    
}
span{
    color: rgba(245, 245, 245, 0.724);
    font-size: 30px;
    border: 1px solid whitesmoke; 
}
li{
    font-size: 23px ;
}
a{
    color: rgb(41,189,188);
}
.container{
    background-color: rgba(245, 245, 245, 0.178);
    margin: auto;
    padding: 50px;
    

}