body{
    
    color: rgb(41,189,188); 
    background-image: 
    url(IMG_97642.jpeg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
 
    
  
}
.container{
    background-color: rgba(245, 245, 245, 0.178);
margin: auto;
height: 700px;
}